# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# yarn FTW
package-lock.json

# outputs
# dist/ TODO: once we find a way to actually publish this to npm or somewhere else this should be ignored
build/